body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,23,72,1) 46%, rgba(42,0,57,1) 100%);
}
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
a{
   text-decoration: none; 
}
a:hover{
    transform: scale(1.2);
}
a:hover h2{
  text-shadow: 2px 2px 2px rgb(229, 108, 215);; 
}
.name-sec{
    margin-top: 3vw;
    padding-left: 15%;
    animation: fadeIn 3s;
}
@keyframes fadeIn{
    0% { 
        opacity: 0; }
    100% { opacity: 1; }
}
.main-sec{
    margin: 10vw;
}

h1{
    color: azure;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0;
    font-size: 3.2rem;
}
.arr{
    margin: 10%;
    animation: fadeIn 2s linear 2s 1 normal forwards;
    opacity: 0;
}
.icon1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
  
  .arrow1 {
    position: absolute;
    top: 25px;
    width: 130%;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  }
  
  .arrow1::after, .arrow1::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    right: -10px;
    background-color: #fff;
  }
  
  .arrow1::after {
    top: -18px;
    transform: rotate(45deg);
  }
  
  .arrow1::before {
    top: 18px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
  .sec2{
  padding-top:6vw;
  animation:  fadeIn 2s linear 2s 1 normal forwards;
    opacity: 0;
}
.sec-2{
    display: inline;
    color: azure;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding-top: 3%;
  font-size: 2rem;
}
.arr2{
    margin-top: 2vw;
    margin-left: 25%;
    animation:  fadeIn 2s linear 2s 1 normal forwards;
    opacity: 0;
}
.icon2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 40px;
    cursor: pointer;
  }
  
  .arrow2 {
    position: absolute;
    top: 25px;
    width: 120%;
    height: 3px;
    background-color: #fff;
    transform: rotate(90deg);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  }
  
  .arrow2::after, .arrow2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    right: -10px;
    background-color: #fff;
  }
  
  .arrow2::after {
    top: -17px;
    transform: rotate(45deg);
  }
  
  .arrow2::before {
    top: 17px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
  .sec1{
    margin-top: 8vw;
    padding-left: 15%;
    animation:  fadeIn 1s linear 2s 1 normal forwards;
    opacity: 0;
  }
  .sec-1{
    display: inline;
    color: azure;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  }
